@use '@angular/material' as mat;
@include mat.core();

@import 'styles/colors.scss';

$app-primary: mat.define-palette($shell-primary, 500);
$app-accent: mat.define-palette($shell-accent, 500, A100, A400);

$app-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme((
 color: (
   primary: $app-primary,
   accent: $app-accent,
   warn: $app-warn,
 )
));

@include mat.all-component-themes($app-theme);
