<div class="sidebar">
  <mat-nav-list class="nav-list">
    <a
      mat-list-item
      class="nav-list-item"
      routerLink=""
      routerLinkActive="nav-list-item--active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      MAIN</a
    >
    <a mat-list-item class="nav-list-item" routerLink="mfe1" routerLinkActive="nav-list-item--active"> MFE1 ng v13 </a>

    <a mat-list-item class="nav-list-item" routerLink="mfe2" routerLinkActive="nav-list-item--active"> MFE2 ng v12 </a>
  </mat-nav-list>
</div>
