@import 'styles/colors';

:host {
    display: block;
}

.header {
    width: 100%;
    background: map-get($shell-primary, 500);
    padding: 8px 16px;
    h3 {
        color: map-get($shell-white, high);
    }
}